.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.customers-list {
  max-width: 1100px;
  text-align: left;
  margin: 10px;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
